<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetear Contraseña</title>
</head>
<body>
    <h2>Resetear Contraseña de {{email}}</h2>
    <form action="/api/users/resetPasword" method="POST">
        <!-- Input para la nueva contraseña -->
        <label for="newPass">Nueva Contraseña:</label><br>
        <input type="password" id="newPass" name="newPass" required><br><br>

        <!-- Campo oculto para enviar el token de recuperación de contraseña -->
        <input type="hidden" name="token" value="{{ token }}">
        <input type="hidden" name="email" value="{{ email }}">

        <!-- Botón para enviar el formulario -->
        <input type="submit" value="Resetear Contraseña">
    </form>
</body>
</html>
